@mixin heading {
	margin-top: 1em;
	margin-bottom: .5em;
	font-weight: 600;
	border-bottom: 0.05em var(--gray-color2) solid;
}

@import './global.scss';

.kmu :global {
	strong {
		font-weight: 600;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include heading;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.25em;
	}

	h6 {
		font-size: 1em;
	}

	p {
		margin-bottom: 1em;
		font-size: 1em;
	}

	blockquote {
		display: flex;
		border-left: #d0d7de 0.3em solid;
		margin: 0;
		margin-bottom: 1em;
		padding-left: 1em;

		p {
			margin: 0;
		}
	}

	pre {
		background-color: #f6f8fa;
		padding: 0.5em 1em;
		margin-bottom: 1em;
		border: none;
		overflow-x: scroll;

		code {
			background-color: transparent;
			padding: 0;
		}
	}

	code {
		background-color: #eff1f3;
		padding: 0.15em 0.4em;
		border-radius: 0.4em;
		font-size: 85%;
		font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
	}

	ul,
	ol {
		margin-bottom: 1em;
		display: flex;
		flex-direction: column;
		padding-inline-start: 2em;

		li {
			margin-top: 0.3em;

			p:first-child {
				margin-top: 1em !important;
			}
		}
	}

	.task-list-item {
		list-style: none;

		input {
			margin-left: -1em;
			width: 0.8em;
			height: 0.8em;
		}
	}

	hr {
		border: var(--gray-color1) 0.05em solid;
	}

	img {
		max-width: 100%;
	}

	th,
	td {
		border: solid 0.08em var(--gray-color1);
		padding: 0.6em 1.2em;
	}

	*:first-child {
		margin-top: 0 !important;
	}

	*:last-child {
		margin-bottom: 0 !important;
	}

	#index-content {
		display: none;
	}

	#index {
		border: 0.05em solid var(--gray-color1);
		width: fit-content;
		padding: 0.8em 0.8em 0.5em 0.8em;
		margin: 1em 0em;

		p {
			margin-bottom: 0;
		}
	}
}
